@media all and (max-width: 480px){

body {
	background: white;
}

#title{
	font-size: 14px;
	text-align: center;
	background-image: url(images/beachCover.jpg);
}

.cover{
	display: none;
}

.line2 {
	display: none;
}

#contentBox {
	float: left;
	width: 100%;
}

.blurb {
	color: black;
	width: 100%;
	text-align: center;
	font-size: 1em;
}

/*Pictures and titles*/
.titles{
	display: none;
}

#pics img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.mobileTitles {
	color: black;
	font-size: 20px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	display: block;
}

/*articles*/
.articlesCarousel {
	display: block;
	width: 100%;
	height: auto;
	margin: 0px;
}

.articlesCarousel img{
	width: 100%;
	height: auto;
}

.slick-slider{
	position: relative;
	left: 0px;
	margin-bottom: 50px;
}

#upArrow {
	display: none;
}

#thankYou {
	height: 50%;
	width: 100%;
}

/*footer*/
#footer {
	background: white;
	margin-top: 30%;
}
}
