@media all and (max-width: 480px){

body {
	background: white;
}

#title{
	font-size: 14px;
	text-align: center;
	background-image: url(images/beachCover.jpg);
}

.cover{
	display: none;
}

#title h1{
	font-size: 2.5em;
}


/*Content*/
.line {
	background-color: rgba(38, 194, 204, 0.5);
 	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line h2 {
	text-align: center;
	font-family: caviar;
	font-size: 1em;
	color: rgba(0, 0, 0, 0.8);
}

.line2 {
	width: 100%;
	height: 3px;
	background: black;
	margin-top: 5%;
	display: none;
}

#arrow { 
	display: none;
}

#contentBox {
	float: left;
	width: 100%;
	font-size: 1em;
	/*display: none;*/
}

.blurb {
	color: black;
	width: 100%;
	text-align: center;
	font-size: 1em;

}



/*Pictures and titles*/
.titles{
	display: none;
}

#pics img{
	display: block;
	width: 300px;
	height: 300px;
	margin: 20px;
}

.mobileTitles {
	color: black;
	font-size: 20px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	display: block;
}

/*articles*/
.articlesCarousel {
	font-family: caviarDream;
	color: black;
	width: 93%;
	margin-top: 1%;
	display: none;
}

.articlesCarousel img{
	width: 100%;
	height: 630px;
}

.slick-slider{
	position: relative;
	left: 50px;
	margin-bottom: 125px;

}

.slick-next {
	background: rgba(38, 194, 204, 0.7);
	border-radius: 50%;
}

.slick-prev {
	background: rgba(38, 194, 204, 0.7);
	border-radius: 50%;
}

/*footer*/
#footer {
	background: white;
	margin-top: 30%;
}

}
