@font-face {
	font-family: caviar;
	src: url(caviar/CaviarDreams_Bold.ttf);
}

@font-face {
	font-family: caviarItalic;
	src: url(caviar/CaviarDreams_Italic.ttf);
}

@font-face {
	font-family: caviarDream;
	src: url(caviar/CaviarDreams.ttf);
}

body {
	font-family: caviarDream;
}



/*Header*/
#title {
	font-family: caviarItalic;
	color: rgba(38, 194, 204, 0.8);
	background-color: rgba(38, 194, 204, 0.2);
	height: 80px;
	padding: 1%;
}

#title h1{
	font-size: 1.5em;
}

a {
	font-family: caviarDream;
	text-decoration: none;
	list-style: none;
	color: #1E718C;
}

/*a:hover {
	color: #7CD6D2;
	text-decoration: none;
}*/



/*Content*/


.cover {
	font-family: caviarItalic;
	font-size: 100px;
	color: rgba(255, 255, 204, 0.5);
	background-image: url(images/beachCover.jpg);
	opacity: 0.7;
	padding: 5px;
	height: 390px;
	width: 100%;
	text-align: center;
}

.line {
	background-color: rgba(38, 194, 204, 0.5);
	height: 2%;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: caviar;
	font-size: 30px;
}

#arrow { 
	display: none;
}

#lineee{
	border-bottom: solid black 5px;
	margin-bottom: 1em;

}

.titles{
	list-style: none;
	display: inline;
	padding: 10%;
}

#pics {
	width: 100%;

}

#pics img{
	display: inline-block;
	width: 25%;
	/*padding: 1.6%;*/
	height: 250px;
}

#contentBox {
	float: right;
	width: 55%;
	font-size: 1em;
	display: none;
}




#pics img:hover{
	opacity: 0.8;
}


.a1 {
	float:left; 
	margin: 3px;
	display: none;
}


/*Footer*/
#footer {
	clear:both;
	background-color: rgba(38, 194, 204, 0.2);
	margin-top: 100px;
}

#footer img {
	width: 30px;
	height: 30px;
}

#footer h6 {
	text-align: center;
	color: rgba(38, 194, 204, 0.8);
}

.icons {
	float: right;
}

#articles h3 {
	font-family: caviarDream;
	color: black;
}






.contentspace, #hideForNow{
	display: none;

}

