/*For all pages*/

@font-face {
	font-family: caviar;
	src: url(caviar/CaviarDreams_Bold.ttf);
}

@font-face {
	font-family: caviarItalic;
	src: url(caviar/CaviarDreams_Italic.ttf);
}

@font-face {
	font-family: caviarDream;
	src: url(caviar/CaviarDreams.ttf);
}

body {
	font-family: caviar;
}

#title {
	font-family: caviarItalic;
	font-size: 1.5em;
	color: rgba(38, 194, 204, 0.8);
	background-color: rgba(38, 194, 204, 0.2);
	padding: 10px;
	height: 100px;
}

.btn {
	background: #1E718C;
	opacity: 0.4;
	width: 50px;
	height: 40px;
	position: absolute;
	z-index:1000;
	top: 25px;
	right: 10px;
	color: white;
	border-radius: 15px;
	font-size: 1em;
}
 
.exit {
	background: #1E718C;
	opacity: 0.4;
	width: 50px;
	height: 40px;
	position: absolute;
	z-index:1000;
	top: 25px;
	right: 10px;
	color: white;
	border-radius: 15px;
	font-size: 1em;
  	display: none;
}

#navi {
	background: #1E718C;
	opacity: 0.3;
	position: absolute;
	z-index: 1000;
	top: 25px;
	right: 60px;
	font-size: 20px;
	width: 400px;
	border-radius: 15px;
	display: none;
}

#navi li {
	display: inline;
	padding: 10px;
	text-decoration: none;  
	color: white;
}

#navi li:hover {
	color: black;
}


a {
	font-family: caviarDream;
	text-decoration: none;
	list-style: none;
	color: #1E718C;
}

a:hover {
	color: #7CD6D2;
	text-decoration: none;
}

#footer {
	clear:both;
	background-color: rgba(38, 194, 204, 0.2);
	margin-top: 60px;
}

#footer img {
	width: 30px;
	height: 30px;
}



/*Homepage*/
.cover {
	font-family: caviarItalic;
	font-size: 100px;
	color: rgba(255, 255, 204, 0.5);
	background-image: url(images/beachCover.jpg);
	opacity: 0.7;
	padding: 5px;
	height: 510px;
	text-align: center;
}

.line {
	height: 2px;
	width: 850px;
	margin: 0 auto;
	background: black;
	margin-top: 30px;
	margin-bottom: 30px;
}

.line h2 {
	text-align: center;
	font-family: caviar;
	font-size: 20px;
}

#pics{
	position:relative;
	margin:0 auto;
}

.box{
	width:275px; 
	height:250px;
	display:inline-block;
	
}

.box img{
	position:absolute;
	z-index:1;
	width:275px; 
	height:250px;
}

/*
.imgcap{
	position:absolute; 
	z-index:10; 
	background:rgba(0, 0, 0, 0.6);
	width:275px; 
	height:250px;
	color: white;
	font-size: 18px;
	text-align: center;
}

*/


#content  {
	font-size: 20px;
	width: 900px;
	margin: 0 auto;
	padding-top: 100px;
}

#content h1 {
	font-size: 40px;
}

.contentspace{
	margin-top: 100px;
}

#featuredNames {
	color: black;
	margin-left: 30px;
	display: none;
}

#featuredNames2 {
	color: black;
	margin-left: 330px;
	display: none;
}

#featuredNames3 {
	color: black;
	margin-left: 630px;
	display: none;
}

#featuredNames4 {
	color: black;
	margin-left: 930px;
	display: none;
}

#featuredNames5 {
	color: black;
	margin-left: 1230px;
	display: none;
}


/*Tips*/



/*Gallery*/