@font-face {
	font-family: caviarDream;
	src: url(caviar/CaviarDreams.ttf);
}

* {
	font-family: caviarDream;
	padding: 0px;
	margin: 0px;
}

#upArrow{
	clear: both;
	width: 50px;
	font-size: 65px;
	float: right;
	margin-right: 15px;
}

#arrow {
	display: none;
}

/*Header*/
#title {
	font-style: italic;
	color: rgba(38, 194, 204, 0.8);
	background-color: rgba(38, 194, 204, 0.2);
	height: 50px;
	padding: 1px;	
}

#title h1{
	font-size: 25px;
}

/*Content*/
.cover {
	background-image: url(images/beachCover.jpg);
	opacity: 0.7;
	height: 200px;
	width: 100%;
}

.line {
	background-color: rgba(38, 194, 204, 0.5);
 	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line h2 {
	text-align: center;
	font-size: 1.7em;
	color: rgba(0, 0, 0, 0.8);
}

.line2 {
	width: 100%;
	height: 3px;
	background: black;
	margin-top: 5%;
}

#contentBox {
	background: rgba(255, 255, 255, 1);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
	display: none;
}

.blurb {
	width: 60%;
	margin: 0 auto;
}

/*Pictures and titles*/
.titles{
	list-style: none;
	display: inline-block;
	font-size: 1.5em;
	margin-top: 20px;	
}

#hideForDesktop {
	display: none;
}

.mobileTitles {
	display: none;
}

#pics img{
	display: inline-block;
	width: 25%;
	height: 225px;
}

#pics img:hover{
	opacity: 0.8;
}

/*articles*/
.articlesCarousel {
	width: 93%;
	margin-top: 1%;
}

.articlesCarousel img{
	width: 100%;
	height: 630px;
}

.articlesCarousel a {
	cursor: default;
}

.slick-slider{
	position: relative;
	left: 50px;
	margin-bottom: 125px;
}

.slick-next {
	background: rgba(38, 194, 204, 0.7);
	border-radius: 50%;
}

.slick-prev {
	background: rgba(38, 194, 204, 0.7);
	border-radius: 50%;
}

/*Footer*/
#footer {
	clear: both;
	background-color: rgba(38, 194, 204, 0.2);
	position: relative;
	bottom: 0px;
}

#footer img {
	width: 30px;
	height: 30px;
}

#footer h6 {
	text-align: center;
	color: rgba(38, 194, 204, 0.8);
}

.icons {
	display: inline-block;
}

.mail {
	text-align: center;
}

#emailConfirmBox {
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	z-index: 1000;
	display: none;
}

#exitBtn {
	float: left;
}

#thankYou {
	border: 5px solid rgb(38, 194, 204);
	background-color: white;
	position: relative;
	top: calc(20% - 10px);
	height: 40%;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

#thankYou img {
	width: 10%;
	height: auto;
}

.emailInput {
	display: block;
}

#social {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


@media all and (max-width: 990px){
/*Header*/
#title {
	height: 60px;
	padding: 1%;	
}

#title h1{
	font-size: 1.5em;
}

/*Content*/
.cover {
	height: 150px;
	width: 100%;
}

.line2 {
	display: none;
}

.blurb {
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
}

/*Pictures and titles*/
#pics img{
	display: block;
	width: 50%;
	height: 275px;
}

#hideForDesktop {
	display: block;
}

.hideForTablet {
	display: none;
}

/*articles*/
.articlesCarousel {
	width: 90%;
	margin-top: 5%;
	clear: both;
	text-align: center;
}

.articlesCarousel img{
	width: 90%;
	height: 400px;
	margin: 0 auto;
}

.slick-slider{
	position: relative;
	left: 35px;
	margin-bottom: 80px;
}

#thankYou {
	height: 40%;
	width: 100%;
}
}

@media all and (max-width: 640px){

body {
	background: white;
}

#title{
	font-size: 17px;
	text-align: center;
	color: white;
	background-image: url(images/beachCover.jpg);
}

.cover{
	display: none;
}

#contentBox {
	float: left;
	width: 100%;
}

.blurb {
	color: black;
	width: 100%;
	text-align: center;
	font-size: 1em;
}

/*Pictures and titles*/
.titles{
	display: none;
}

#pics img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.mobileTitles {
	color: black;
	font-size: 20px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	display: block;
}

.articlesCarousel {
	display: block;
	width: 100%;
	height: auto;
	margin: 0px;
}

.articlesCarousel img{
	width: 100%;
	height: auto;
}

.slick-slider{
	position: relative;
	left: 0px;
	margin-bottom: 50px;
}

#upArrow {
	display: none;
}

#footer {
	background: white;
	margin-top: 30%;
}
}