@media all and (max-width: 1050px){


.mobileTitles {
	display: none;
}

#title {
	height: 60px;
	padding: 1%;	
}

#title h1{
	font-size: 1.5em;
}

/*Content*/
.cover {
	height: 150px;
	width: 100%;
}

.line {
	background-color: rgba(38, 194, 204, 0.5);
 	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line h2 {
	text-align: center;
	font-family: caviar;
	font-size: 1.7em;
	color: rgba(0, 0, 0, 0.8);
}

.line2 {
	display: none;
}

#arrow { 
	display: none;
}

#contentBox {
	font-size: 1em;
	display: none;
}

/*Pictures and titles*/
.titles{
	list-style: none;
	display: inline-block;
	font-size: 1.5em;
	margin-top: 20px;
}

.mobileTitles {
	display: none;
}

#pics img{
	display: block;
	width: 50%;
	height: 275px;
}

#hideForDesktop {
	display: block;

}

.hideForTablet {
	display: none;

}

/*articles*/
.articlesCarousel {
	font-family: caviarDream;
	color: black;
	width: 90%;
	margin-top: 5%;
	clear: both;
	text-align: center;
}

.articlesCarousel img{
	width: 90%;
	height: 400px;
	margin: 0 auto;
}

.slick-slider{
	position: relative;
	left: 35px;
	margin-bottom: 80px;
}

/*Footer*/
#footer {
	clear:both;
	background-color: rgba(38, 194, 204, 0.2);
}

#footer img {
	width: 30px;
	height: 30px;
}

#footer h6 {
	text-align: center;
	color: rgba(38, 194, 204, 0.8);
}
}